#banner {
    width: 100%;
}

.principal{
    background: #CCCCCC; /*background fundo da tela e #CCCCCC é cor por hexadecimal*/
    padding: 30px; /*Espaçamento*/
}

p{
    text-align: center; /*para alinhar todo texto do site*/
}

em strong {
    color: #FF0000;
}

ul {
    display: inline-block;
    vertical-align: top;
    width:20%;
    margin-right: 15%;
}

